

p, a {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
  .container {
    border: 0px solid white;
    height: 200px;
    text-align: center;
}

