<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="static/register.css">
</head>
<body>
    <h1>Вхід в аккаунт</h1>
    <form action="{{ url_for('auth_post') }}" method="post">
    <input type="text" name="username" placeholder="Введіть юзернейм">
    <input type="password" name="password" placeholder="Введіть пароль">
    <button type="submit">Зберігти</button>

    </form>
    <h2>{{message}}</h2>

</body>
</html>